{% extends 'layouts/app.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-sm-8 card p-4">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="alert alert-success">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}

                <h3 class="text-muted text-center mb-3">Todo list with Flash (Python) </h3>

            <form action="{{ url_for('index',todo_id=todo.id) if todo else url_for('index')}}" method="POST">
                <div class="input-group mb-3">
                    <input type="text" name="title" placeholder="Enter title" class="form-control" value="{{ todo.title if todo else ''}}">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="submit">Save</button>
                    </div>
                </div>
            </form>
            {% for todo in todos %}
            <div class="row mt-2">
                <div class="col-8">{{todo.title }}</div>
                <div class="col-4 text-right">
                    <a href="/{{todo.id}}" class="btn btn-dark btn-sm">Edit</a>
                    <form class="d-inline" method="POST" action="{{ url_for('delete',todo_id=todo.id)}}">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}